<a href="https://colab.research.google.com/github/haseeb9700/hackathon_machinadoctarinas/blob/main/hackathon_Colab_file_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [ ]:
df = pd.read_csv("/content/Public Data.csv")
df = df[df.columns.drop(['Unnamed: 0'])]
df.dropna(subset = ['Power Level'], inplace=True)

In [ ]:
df[df['Air Force'].isnull()]['Country'].unique()

array(['Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Australia', 'Azerbaijan', 'Bahamas', 'Bangladesh', 'Barbados',
       'Benin', 'Bosnia and Herzegovina', 'Burkina Faso', 'Burundi',
       "Côte d'Ivoire", 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'Comoros', 'Congo',
       'Croatia', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Finland',
       'Gabon', 'Ghana', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Hungary', 'Iceland', 'India',
       'Ireland', 'Jamaica', 'Japan', 'Kenya',
       "Lao People's Democratic Republic", 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Malta', 'Mauritania',
       'Montenegro', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'Niger', 'Nigeria', 'Norway', 'Pakistan', 'Panama',
       'Paraguay', 'Peru', 'Russian Federation', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Senegal', 'Serbia', 'Sierra Leone', 'Slovenia', 'Somalia',
       'South Sudan', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Tajikistan',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Turkmenistan', 'Uganda',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'Uzbekistan', 'Viet Nam', 'Zambia'],
      dtype=object)

In [ ]:
df[df['GDP'].isnull()]['Country'].unique()

array(['Bahamas', 'Bolivia (Plurinational State of)', "Côte d'Ivoire",
       'Congo', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Egypt', 'Eritrea', 'Gambia',
       'Iran (Islamic Republic of)', 'Iraq', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Libya',
       'Micronesia (Federated States of)', 'Republic of Korea',
       'Republic of Moldova', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Slovakia', 'Somalia', 'South Sudan', 'Syrian Arab Republic',
       'The former Yugoslav republic of Macedonia',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen'],
      dtype=object)

In [ ]:
df[df['International Reputation'].isnull()]['Country'].unique()

array(["Côte d'Ivoire", 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Republic of Korea',
       'Republic of Moldova', 'Somalia',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America'],
      dtype=object)

In [ ]:
df[df['Political Stability'].isnull()]['Country'].unique()

array(["Côte d'Ivoire", 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Republic of Korea',
       'Republic of Moldova', 'Somalia',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America'],
      dtype=object)

In [ ]:
df[df['Substance Abuse'].isnull()]['Country'].unique()

array(['Montenegro', 'South Sudan'], dtype=object)

In [ ]:
df[df['Literacy'].isnull()]['Country'].unique()

array(['Montenegro', 'South Sudan', 'Timor-Leste'], dtype=object)

In [ ]:
df[df['Submarines'].isnull()]['Country'].unique()

array(['Montenegro', 'South Sudan', 'Timor-Leste'], dtype=object)

In [ ]:
df[df['Educational Investment'].isnull()]['Country'].unique()

array(["Democratic People's Republic of Korea", 'Iraq', 'Somalia',
       'South Sudan'], dtype=object)

In [ ]:
df[df['Intelligence'].isnull()]['Country'].unique()

array(['South Sudan', 'Sudan'], dtype=object)

In [ ]:
df[df['Offense'].isnull()]['Country'].unique()

array(['South Sudan', 'Sudan'], dtype=object)

In [ ]:
df[df['Defense'].isnull()]['Country'].unique()

array(['South Sudan', 'Sudan'], dtype=object)

In [ ]:
df['Country'] = df['Country'].astype('category')
df['Country'] = df['Country'].cat.codes

df['Status'] = df['Status'].astype('category')
df['Status'] = df['Status'].cat.codes

In [ ]:
df.isnull().sum()

Country                       0
Year                          0
Status                        0
Power Level                   0
Civilian Deaths               0
Military Accidents            0
Substance Abuse              16
Military Investment           0
Air Force                   544
Army                          0
Intelligence                 30
Navy                          0
Submarines                   19
Educational Investment       45
Literacy                     19
Revolts                       0
GDP                         414
Population                  603
Offense                      30
Defense                      30
Political Stability         150
International Reputation    150
dtype: int64

In [ ]:
df[df['Air Force'].isnull()]['Country']

41        2
42        2
43        2
44        2
53        3
       ...
2735    181
2736    181
2737    181
2738    181
2739    181
Name: Country, Length: 544, dtype: int16

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
#pca.fit(df[df.columns.drop(['Power Level'])])

In [ ]:
y = df['Power Level']
X = df.loc[ : , df.columns != 'Power Level']

In [ ]:
from sklearn.impute import KNNImputer
knn = KNNImputer()
X = knn.fit_transform(X)

In [ ]:
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)
hr = HistGradientBoostingRegressor()
hr.fit(X_train,y_train)
hr.score(X_test,y_test)

0.9473887227171032

In [ ]:
test_df = pd.read_csv('/content/Test_Dataset.csv')

In [ ]:
test_df.head()

,Country,Year,Status,Civilian Deaths,Military Accidents,Military Investment,Air Force,Army,Intelligence,Navy,Submarines,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation
0,Afghanistan,2023,Developing,264,61,71.59,69.0,1153,18.28,84,8,68,0.65,583.49,33736494.0,17.50,16.52,1.33,9.68
1,Albania,2023,Developing,75,2,364.95,98.0,-2,57.89,2,97,94,-0.88,3954.09,28873.0,1.43,1.58,1.81,14.35
2,Algeria,2023,Developing,20,21,-0.23,95.0,63,59.52,22,93,92,0.32,4132.55,39871526.0,5.97,5.76,0.25,13.24
3,Angola,2023,Developing,337,65,-0.11,58.0,117,23.71,102,9,63,1.44,3696.01,2785939.0,7.46,8.82,0.04,10.25
4,Antigua and Barbuda,2023,Developing,9,-6,-0.67,98.0,1,47.73,1,95,100,0.68,13567.04,NaN,3.53,3.16,1.18,14.24

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   183 non-null    object
 1   Year                      183 non-null    int64
 2   Status                    183 non-null    object
 3   Civilian Deaths           183 non-null    int64
 4   Military Accidents        183 non-null    int64
 5   Military Investment       183 non-null    float64
 6   Air Force                 174 non-null    float64
 7   Army                      183 non-null    int64
 8   Intelligence              181 non-null    float64
 9   Navy                      183 non-null    int64
 10  Submarines                183 non-null    int64
 11  Literacy                  183 non-null    int64
 12  Revolts                   183 non-null    float64
 13  GDP                       154 non-null    float64
 14  Population                142 non-null    float64
 15  Offense                   181 non-null    float64
 16  Defense                   181 non-null    float64
 17  Political Stability       173 non-null    float64
 18  International Reputation  173 non-null    float64
dtypes: float64(10), int64(7), object(2)
memory usage: 27.3+ KB

In [ ]:
X_test = test_df.loc[:]

In [ ]:
knn = KNNImputer()
X_test = knn.fit_transform(X)

In [ ]:
test_df = pd.DataFrame(X_test)

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2745 entries, 0 to 2744
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2745 non-null   float64
 1   1       2745 non-null   float64
 2   2       2745 non-null   float64
 3   3       2745 non-null   float64
 4   4       2745 non-null   float64
 5   5       2745 non-null   float64
 6   6       2745 non-null   float64
 7   7       2745 non-null   float64
 8   8       2745 non-null   float64
 9   9       2745 non-null   float64
 10  10      2745 non-null   float64
 11  11      2745 non-null   float64
 12  12      2745 non-null   float64
 13  13      2745 non-null   float64
 14  14      2745 non-null   float64
 15  15      2745 non-null   float64
 16  16      2745 non-null   float64
 17  17      2745 non-null   float64
 18  18      2745 non-null   float64
 19  19      2745 non-null   float64
 20  20      2745 non-null   float64
dtypes: float64(21)
memory usage: 450.5 KB

In [ ]:
y_pred = hr.predict(test_df)

In [ ]:
len(y_pred)

2745

In [ ]:
test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.0,2022.0,1.0,271.0,62.0,-0.25,73.83,59.0,495.0,18.33,...,58.0,8.06,62.0,-0.21,612.86,327582.0,17.16,17.68,0.44,10.57
1,0.0,2021.0,1.0,268.0,66.0,-0.67,73.66,71.0,431.0,18.80,...,60.0,8.08,65.0,-0.04,631.58,31731688.0,18.28,17.85,0.72,10.40
2,0.0,2020.0,1.0,271.0,70.0,-0.17,77.76,65.0,2788.0,16.39,...,65.0,8.71,70.0,-0.21,669.50,3696953.0,16.85,18.46,0.99,9.52
3,0.0,2019.0,1.0,279.0,70.0,0.69,6.95,72.0,3014.0,16.64,...,65.0,8.34,72.0,-0.60,63.67,2978596.0,17.72,18.11,0.84,9.82
4,0.0,2018.0,1.0,272.0,74.0,0.07,79.82,70.0,1988.0,17.04,...,67.0,9.40,66.0,-0.12,553.89,2883166.0,18.91,18.76,0.52,9.14

In [ ]:
test_df[0]

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
2740    182.0
2741    182.0
2742    182.0
2743    182.0
2744    182.0
Name: 0, Length: 2745, dtype: float64

In [ ]:
data = {'Country': test_df[0], 'Power Level': y_pred}
output = pd.DataFrame.from_dict(data)
output.head()

   Country  Power Level
0      0.0    59.806368
1      0.0    59.820203
2      0.0    59.280442
3      0.0    59.179732
4      0.0    58.965372

In [ ]:
final = output.groupby(by = 'Country').mean()

In [ ]:
final.to_csv('PredictedValues.csv')